@import url("../../Global/globalHeader.css");
p,
h1,
h2,
h3 {
    font-size: .9em
}

.menuJS {
    position: fixed;
    top: 15%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 1;
}

img {
    width: 40px;
}

.menucontent {
    background: #e5e5e5;
    box-shadow: var(--sombra);
    height: 100%;
    width: 20vw;
    position: fixed;
    top: 0%;
    left: 0%;
    display: grid;
    grid-template-rows: 1.4fr 1.5fr .7fr;
    z-index: 2;
}

.userimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pages {
    display: grid;
    width: 100%;
    height: 100%;
}

.user {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.useritens {
    display: grid;
    grid-template-rows: 2fr .7fr;
    background: var(--casa-azul);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, var(--casa-azul), #0045b4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--casa-azul), #002a6e);
    border-radius: 0px 0px 20% 20%;
    text-align: center;
}

.useritens li:first-child {
    width: 95%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    color: white;
    position: absolute;
    cursor: pointer;
    font-size: 18px
}

.useritens li:nth-child(2) {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.useritens li:nth-child(3) {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: white;
    background-color: transparent;
    z-index: 0;
}

.pageList {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #e5e5e5;
    grid-template-rows: repeat(5, 1fr);
}

.pageList p {
    width: 17vw;
    padding: 10px;
    height: 100%;
    /* background-color: black; */
    border-bottom: 1px solid black
}

.imgitens {
    width: 100%;
    height: 100%;
    background-color: #e5e5e5;
    display: grid;
}

.imglist {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(2, .3fr)
}

.imgitens img {
    width: 25px;
    height: 25px;
}

.pageList p:hover {
    background-color: #2a98c0;
    transition: all 0.5s;
    border-radius: 20px;
    border: 2px solid rgb(75, 75, 75);
    box-shadow: var(--sombra);
    color: #fff;
    cursor: pointer;
}

.imgitens img:hover {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

@media (max-width: 635px) {
    p {
        font-size: 12px;
    }
    .imgitens img {
        width: 20px;
        height: 20px;
    }
    .imglist {
        grid-template-columns: repeat(2, 1fr);
    }
    .menucontent {
        width: 45%;
        grid-template-rows: 1fr 1.5fr .7fr;
    }
    .pageList p {
        width: 30vw;
        padding: 10px;
        height: 100%;
        /* background-color: black; */
        border-bottom: 1px solid black
    }
}

@media (max-width: 262px) {
    .userimg {
        width: 70px;
        height: 70px
    }
    .Username {
        font-size: 12px
    }
    .pageList p {
        font-size: 10px
    }
    .menuJS {
        top: 5%
    }
    img {
        width: 30px
    }
}