@import url('../../Global/globalHeaderMenu.css');

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    margin-left: 10rem;
    margin-bottom: 5rem;
}

textarea{
    width: 80%;
    height: 70vh;
}

button{
    margin-top: 5rem;
    
}