@import url("../../Global/globalHeaderMenu.css");
.cards-container {
    width: 100%;
    height: 90vh;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--casa-azul);
    box-shadow: var(--sombra);
}

.cardReceitas {
    background-color: var(--casa-branco);
    width: 30%;
    height: 70%;
    border-radius: 10px;
}

.titulo {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #e5e5e5;
    border-radius: 50px;
}

.receitasContent {
    width: 100%;
    height: 82%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
}

.receitas {
    width: 90%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 10% 10% 10%;
    margin-top: 1rem;
    border: 2px solid #e5e5e5;
    border-radius: 20px 0px 20px 0px;
    /* background-color: aqua; */
}