@import url("../../Global/globalHeaderMenu.css");
body {
    background: var(--casa-azul);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, var(--casa-azul), #0045b4);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, var(--casa-azul), #002a6e);
}

header {
    background-color: white;
}

section {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 80%;
    box-shadow: var(sombra);
    height: 80%;
    display: grid;
    grid-template-rows: .3fr;
    border-radius: 30px;
}

.card {
    width: 100%;
    padding: 1em;
    height: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 30px 5px 0px 0px;
    background-color: white
}

.card ul {
    width: 100%;
    display: grid;
    text-align: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.card li:nth-child(2) {
    width: 70%;
}

.card img {
    width: 70px;
}

.funform {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 1fr;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 0px 0px 30px 5px;
}

.DadosFuncionario {
    padding: 1em;
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.EditarDados {
    display: none;
}

.DadosFuncionario ul {
    height: 90%;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 98%;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #e5e5e5;
}

.DadosFuncionario ul li:nth-child(2) {}

.btn-div {
    width: 100%;
    height: 100%;
    padding: 1em;
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    width: 90%;
    text-align: center;
    padding: 1em;
    /* color:white; */
    /* border-bottom: 1px solid white; */
}

.btn {
    width: 25%;
    height: 5vh;
}

@media (max-width:480px) {
    body {
        background: white
    }
    .cards {
        width: 100%;
        height: 100%;
    }
    .funform,
    .card {
        border-radius: 0;
    }
    .DadosFuncionario {
        padding: 1em;
        width: 100%;
        height: 95%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .btn {
        width: 75%;
        height: 5vh;
    }
}