.container {
    width: 100vw;
    height: 100vh;
}

.card {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardFuncionario {
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    overflow-y: auto;
    align-items: center;
    border-bottom: 1px solid #050404;
}

.img {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly
}

.fotoUsuario {
    width: 50px;
}