body {
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
}

.content {
    height: 450px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    box-shadow: 15px 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.card {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.cardFuncionario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: beige;
    align-items: center;
    border-bottom: 1px solid #050404;
    text-align: center;
}

.img {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    justify-content: center;
    align-items: flex-start;
}

.fotoUsuario {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.nome {
    width: 50%;
}

input {
    width: 100%;
}

::-webkit-scrollbar {
    width: 20px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #166B8A;
    border-radius: 10px;
}