@import url("../../Global/globalHeaderMenu.css");
section {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: grid;
    height: 70vh;
    width: 70vw;
    border-radius: 0px 30px 0px 30px;
    grid-template-columns: 1fr;
    box-shadow: 4px 5px 5px 4px rgba(0, 0, 0, 0.18);
}

.cadastrar-cards,
.cardForm {
    display: grid;
    grid-template-rows: 1fr
}

.familia {
    display: grid;
    grid-template-rows: .2fr 1fr
}

.famform ul {
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border-radius: 20px 20px 0px 0px;
    background-color: rgba(2, 113, 141, 0.2);
}

.btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    border-radius: 0px 0px 0px 30px;
    background-color: rgba(2, 113, 141, 0.2);
}

input {
    justify-self: center;
    align-self: center;
    width: 50%;
    text-align: center;
}

.btn {
    width: 40%;
    border-radius: 20px 20px 20px 20px;
}

h1 {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.7em, 1em + .8vw, 1.5em);
    width: 100%;
    height: 100%;
    color: rgba(2, 113, 141, 1)
}

@media (max-width:618px) {
    .cards {
        width: 90vw;
        height: 85vh;
    }
    input {
        width: 80%;
    }
}