@import url("../../Global/globalHeaderMenu.css");
.userimg {
    width: 50px
}

body {
    overflow: hidden
}

.ham {
    width: 50px
}

section {
    width: 100vw;
    height: 100vh;
}

.foto {
    width: 100px
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.card {
    width: 80%;
    height: 80%;
    display: flex;
    box-shadow: 15px 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.Assiscard {
    width: 50%;
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Assiscard h1 {
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formAssis {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around
}

.inputs {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-start;
}

.inputs input {
    display: flex;
    margin-right: 20px;
}

.inputDados {
    background-color: transparent;
    width: 70%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.inputDados input {
    width: 70%;
}

.Assiscard h1 {
    height: 7%;
    font-weight: bold;
}

.Sex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin-bottom: 2rem
}

.Sex ul {
    height: 100%;
    display: flex;
    margin-top: 1vh;
    margin-bottom: 3vh;
}

.Sex ul input[type="checkbox"] {
    height: 20px;
    width: 20px
}

.Sex ul li {
    margin-right: 0.5rem;
}

.sexstyle {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sexstyle li {
    width: 20%;
}

.sexstyle li:nth-child(2),
.sexstyle li:nth-child(4) {
    margin-right: 2em
}

.Famcard {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.userform {
    display: flex;
    align-self: flex-start;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.userform ul {
    display: flex;
    align-self: flex-start;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.outros {
    display: flex;
    width: 80%;
    height: 30%;
    justify-content: space-around;
    align-items: center;
}

.listadrogas,
.listadoencas {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    overflow-y: scroll;
    display: none
}

.pscoativos,
.saude {
    border: 1px solid black;
    width: 40%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 10px;
}

.pscoativos img,
.saude img {
    width: 15px;
    margin-left: 1rem;
}

.outros ul input[type="checkbox"] {
    height: 20px;
    width: 20px;
    margin-bottom: 5px;
}

.outros li {
    margin-right: 2rem
}

.famform {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
}

.famform input {
    display: flex;
    width: 25%;
    margin-right: 20px;
}

.anexo ul {
    width: 100%;
    text-align: center;
}

.anexo ul li:first-child {
    margin-bottom: 1rem;
}

.anexo input {
    width: 100%;
}

.btn {
    width: 10vw;
    height: 5vh;
    border: none;
    cursor: pointer;
    background-color: transparent;
    font: 1.2em sans-serif;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
    background-color: #166B8A;
    box-shadow: none;
    transition: all 0.25s;
    padding: 0 0px 0px 7px;
}

.styleBall-bottom-right {
    position: fixed;
    width: 11%;
    background-color: #166B8A;
    height: 150px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 0%;
    z-index: -1;
    left: 79%;
    bottom: 7.3%;
    opacity: 0.2;
}

.styleBall-bottom-left {
    position: fixed;
    background-color: #166B8A;
    width: 11%;
    height: 150px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 0%;
    z-index: -1;
    right: 79%;
    bottom: 7.3%;
    opacity: 0.2;
}

.styleBall-top-left {
    position: fixed;
    background-color: #166B8A;
    width: 11%;
    height: 150px;
    border-bottom-right-radius: 50%;
    z-index: -1;
    right: 79%;
    top: 12.62%;
    opacity: 0.2;
}

@media (max-width: 1623px) {
    .styleBall-bottom-right {
        position: fixed;
        width: 11%;
        background-color: #166B8A;
        height: 150px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 0%;
        z-index: -1;
        left: 84%;
        bottom: 5.8%;
        opacity: 0.2;
    }
    .styleBall-bottom-left {
        position: fixed;
        background-color: #166B8A;
        width: 11%;
        height: 150px;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0%;
        z-index: -1;
        right: 84%;
        bottom: 5.8%;
        opacity: 0.2;
    }
    .styleBall-top-left {
        position: fixed;
        background-color: #166B8A;
        width: 11%;
        height: 150px;
        border-bottom-right-radius: 50%;
        z-index: -1;
        right: 84%;
        top: 14.2%;
        opacity: 0.2;
    }
    p,
    h2,
    h1 {
        font-size: 14px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }
    section {
        width: 100vw;
        height: 100vh;
    }
    .foto {
        width: 100px
    }
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }
    .card {
        width: 90%;
        height: 80%;
        display: flex;
    }
    .Assiscard {
        width: 50%;
        height: 100%;
        border-right: 1px solid black;
    }
    .formAssis {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
    }
    .inputs {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        align-self: flex-start;
    }
    .inputs input {
        display: flex;
        margin-right: 20px;
    }
    .inputDados {
        background-color: transparent;
        width: 95%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .Assiscard h1 {
        height: 7%;
        font-weight: bold;
    }
    .Sex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-bottom: 2rem
    }
    .Sex ul {
        height: 100%;
        display: flex;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    .Sex ul input[type="checkbox"] {
        height: 20px;
        width: 20px
    }
    .Sex ul li {
        margin-right: 0.5rem;
    }
    .sexstyle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sexstyle li {
        width: 20%;
    }
    .sexstyle li:nth-child(2),
    .sexstyle li:nth-child(4) {
        margin-right: 2em
    }
    .Famcard {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: space-around;
    }
    .userform {
        display: flex;
        align-self: flex-start;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    .userform ul {
        display: flex;
        align-self: flex-start;
        align-items: center;
        width: 40%;
        justify-content: space-around;
    }
    .famform {
        width: 100%;
        height: 20%;
        display: flex;
    }
    .familia h1 {
        font-weight: bold;
        font-size: 16px;
    }
    .famform input {
        display: flex;
        width: 25%;
        margin-right: 20px;
    }
    .anexo ul {
        width: 100%;
        text-align: center;
    }
    .anexo ul li:first-child {
        margin-bottom: 1rem;
    }
    .anexo input {
        width: 100%;
    }
    .btn {
        width: 10vw;
        height: 5vh;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font: 1.2em sans-serif;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .btn:hover {
        box-shadow: none;
        transition: all 0.25s;
        padding: 0 0px 0px 7px;
    }
}

@media (max-width: 1075px) {
    .styleBall-bottom-right {
        position: fixed;
        width: 11%;
        background-color: #166B8A;
        height: 150px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 0%;
        z-index: -1;
        left: 84%;
        bottom: 5.8%;
        opacity: 0.2;
        display: none;
    }
    .styleBall-bottom-left {
        position: fixed;
        background-color: #166B8A;
        width: 11%;
        height: 150px;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 0%;
        z-index: -1;
        right: 84%;
        bottom: 5.8%;
        opacity: 0.2;
        display: none;
    }
    .styleBall-top-left {
        position: fixed;
        background-color: #166B8A;
        width: 11%;
        height: 150px;
        border-bottom-right-radius: 50%;
        z-index: -1;
        right: 84%;
        top: 14.2%;
        opacity: 0.2;
        display: none;
    }
    p,
    h2,
    h1 {
        font-size: 14px;
        font-weight: normal;
        font-family: 'Open Sans', sans-serif;
    }
    section {
        width: 100vw;
        height: 100vh;
    }
    .inputDados {
        background-color: transparent;
        width: 90%;
        height: 40%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .foto {
        width: 100px
    }
    .container {
        height: 100%;
        width: 100%;
        display: flex;
        margin-top: 2rem;
        justify-content: center;
    }
    .card {
        width: 95%;
        height: 80%;
        display: flex;
        box-shadow: none;
    }
    .Assiscard {
        width: 50%;
        height: 100%;
        border-right: 1px solid black;
    }
    .formAssis {
        display: flex;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    .inputs {
        width: 100%;
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        align-self: flex-start;
    }
    .inputs input {
        display: flex;
        width: 25%;
        margin-right: 20px;
    }
    .Sex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        margin-bottom: 2rem
    }
    .Sex ul {
        height: 100%;
        display: flex;
        margin-top: 1vh;
        margin-bottom: 3vh;
    }
    .Sex ul input[type="checkbox"] {
        height: 20px;
        width: 20px
    }
    .Sex ul li {
        margin-right: 0.5rem;
    }
    .sexstyle {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .sexstyle li {
        width: 20%;
    }
    .sexstyle li:nth-child(2),
    .sexstyle li:nth-child(4) {
        margin-right: 2em
    }
    .Famcard {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .userform {
        display: flex;
        align-self: flex-start;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 1rem;
    }
    .userform ul {
        display: flex;
        align-self: flex-start;
        align-items: center;
        width: 40%;
        justify-content: space-around;
    }
    .famform {
        width: 100%;
        height: 25%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        align-self: center;
    }
    .famform input {
        display: flex;
        width: 25%;
        margin-right: 20px;
    }
    .anexo ul {
        width: 100%;
        text-align: center;
    }
    .anexo ul li:first-child {
        margin-bottom: 1rem;
    }
    .anexo input {
        width: 100%;
    }
    .btn {
        width: 10vw;
        height: 5vh;
        border: none;
        cursor: pointer;
        background-color: transparent;
        font: 1.2em sans-serif;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }
    .btn:hover {
        box-shadow: none;
        transition: all 0.25s;
        padding: 0 0px 0px 7px;
    }
}